body {
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background-color: #222;
  color: #ddd;
  overflow-y: scroll;
}

#guide {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
}

#guide section {
  flex: 1 1 0;
  margin: 0 24px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}

#guide h2 {
  margin: 32px 0 10px;
  font-size: 32px;
  cursor: default;
}

#guide h2:first-child {
  margin-top: 24px;
}

#guide details {
  transition: background-color 0.2s ease;
}

#guide details[open] {
  background-color: rgba(255, 255, 255, 0.05);
}

#guide summary {
  display: inline-block;
  margin: 5px 0 12px;
  padding: 0 10px;
  font-size: 19px;
  font-weight: bold;
  color: #afdfff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}

#guide summary::-webkit-details-marker {
  display: none;
}

#guide summary::before {
  content: "▶";
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  margin-right: 6px;
  padding-top: 2px;
  transform-origin: 35% 50%;
  transition: transform 0.1s ease;
}

#guide summary:hover, #guide details[open] summary {
  opacity: 1;
}

#guide details[open] summary::before {
  transform: rotateZ(90deg) translate(0.5px, -3px);
}

#guide details > div {
  margin-bottom: 22px;
  padding: 0 25px 2px;
  font-size: 17px;
}

#guide details > div > *:first-child {
  margin-top: 0;
}

em {
  color: #f8d88b;
  font-style: normal;
}

p, li {
  line-height: 130%;
}

ul {
  padding-left: 24px;
}

ol {
  padding-left: 18px;
}

li {
  margin-bottom: 6px;
}

img {
  border: 2px groove rgba(255, 255, 255, 0.6);
  max-width: 100%;
}
