<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net452" xmlns="" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net452" xmlns="" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net452" xmlns="" />
  <package id="CefSharp.WinForms" version="55.0.0" targetFramework="net452" xmlns="" />
  <package id="Microsoft.VC120.CRT.JetBrains" version="12.0.21005.2" targetFramework="net452" xmlns="" />
</packages>
