<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3282.1731" targetFramework="net452" xmlns="" />
  <package id="cef.redist.x86" version="3.3282.1731" targetFramework="net452" xmlns="" />
  <package id="CefSharp.Common" version="64.0.0-CI2508" targetFramework="net452" xmlns="" />
  <package id="CefSharp.WinForms" version="64.0.0-CI2508" targetFramework="net452" xmlns="" />
</packages>