<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1705" targetFramework="net452" xmlns="" />
  <package id="cef.redist.x86" version="3.3239.1705" targetFramework="net452" xmlns="" />
  <package id="CefSharp.Common" version="63.0.0-CI2398" targetFramework="net452" xmlns="" />
  <package id="CefSharp.WinForms" version="63.0.0-CI2398" targetFramework="net452" xmlns="" />
  <package id="Microsoft.VC120.CRT.JetBrains" version="12.0.21005.2" targetFramework="net452" xmlns="" />
</packages>