/***********/
/* General */
/***********/

body:before {
  content: none !important;
}

body {
  overflow-y: auto !important;
}

.scroll-styled-v::-webkit-scrollbar {
  width: 7px !important;
}

.scroll-styled-v::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.scroll-styled-v::-webkit-scrollbar-track {
  border-left: 0 !important;
}

/*************/
/* Usernames */
/*************/

.account-inline .username {
  vertical-align: 10% !important;
}

.account-inline .position-rel + .username {
  vertical-align: -10% !important;
}

/*********/
/* Media */
/*********/

.media-size-medium {
  max-height: 240px;
  height: calc(100vh - 16px) !important;
  border-radius: 1px !important;
}

.js-quote-detail .media-size-medium {
  height: calc(100vh - 28px) !important;
}

#tduck .js-media, #tduck .js-media-preview-container {
  margin-bottom: 0 !important;
}

/***************/
/* Skip button */
/***************/

#td-skip {
  position: fixed;
  left: 30px;
  bottom: 10px;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.td-hover #td-skip {
  opacity: 0.75;
}

#td-skip:hover {
  opacity: 1;
}
