/***********/
/* General */
/***********/

html, body {
  height: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

body::before {
  content: none !important;
}

.column {
  background: transparent !important;
}

/***********************/
/* Redesign scrollbars */
/***********************/

.scroll-styled-v::-webkit-scrollbar {
  width: 7px !important;
}

.scroll-styled-v::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.scroll-styled-v::-webkit-scrollbar-track {
  border-left: 0 !important;
}

/********************/
/* Square-ify stuff */
/********************/

.media-item, .media-preview, .media-badge {
  border-radius: 1px !important;
}

.quoted-tweet {
  border-radius: 0 !important;
}

/***********************/
/* Tweaks for features */
/***********************/

a[data-full-url] {
  word-break: break-all !important;
}

#tduck-show-thread {
  display: inline-block !important;
  cursor: pointer;
}

/*******************************************/
/* Fix general visual issues or annoyances */
/*******************************************/

html[data-td-font='smallest'] .sprite-verified-mini {
  /* fix cut off badge in timelines */
  width: 13px !important;
  height: 13px !important;
  background-position: -223px -99px !important;
}

html[data-td-font='smallest'] .badge-verified:before {
  /* fix cut off badge in notifications */
  width: 13px !important;
  height: 13px !important;
  background-position: -223px -98px !important;
}

html[data-td-font='smallest'] .fullname-badged:before, html[data-td-font='small'] .fullname-badged:before {
  /* fix cut off badge in follow chirps */
  margin-top: -7px !important;
}

.account-inline .username {
  vertical-align: 10% !important;
}

.account-inline .position-rel + .username {
  vertical-align: -10% !important;
}

/****************************************/
/* Tweak notification layout and design */
/****************************************/

.activity-header.has-source-avatar {
  margin-bottom: 4px !important;
}

.activity-header .tweet-timestamp {
  line-height: unset !important;
}

.activity-header .icon-user-filled {
  vertical-align: sub !important;
  margin-right: 4px !important;
}

.td-notification-padded .item-img {
  position: absolute;
  left: 21px;
  top: 48px;
  width: 0 !important;
}

.td-notification-padded .activity-header > .nbfc {
  margin-left: 46px;
  line-height: unset !important;
}

.td-notification-padded .activity-header > .nbfc > .avatar {
  position: absolute;
  margin-left: -34px;
}

.td-notification-padded-alt .item-img {
  /* td-notification-padded-alt is used alongside td-notification-padded to save space in the file */
  position: relative;
  left: 10px;
  top: 2px;
  width: 0 !important;
}

.td-notification-padded-alt .activity-header > .nbfc > .avatar {
  padding-top: 1px;
}

/*********/
/* Media */
/*********/

.td-notification .media-size-medium {
  max-height: 240px;
  height: calc(100vh - 20px) !important;
  border-radius: 1px !important;
}

.td-notification .js-quote-detail .media-size-medium {
  height: calc(100vh - 28px) !important;
}

#tduck .js-media, #tduck .js-media-preview-container {
  padding-top: 1px;
  margin-bottom: 2px !important;
}

#tduck .js-quote-detail .js-media, #tduck .js-quote-detail .js-media-preview-container {
  margin-bottom: 0 !important;
}

/***************/
/* Skip button */
/***************/

#td-skip {
  position: fixed;
  left: 29px;
  bottom: 10px;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.td-example #td-skip {
  display: none;
}

.td-hover #td-skip {
  opacity: 0.75;
}

#td-skip:hover {
  opacity: 1;
}
