<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="98.1.21" targetFramework="net472" />
  <package id="cef.redist.x86" version="98.1.21" targetFramework="net472" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="98.1.210" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
</packages>