<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="cef.redist.x64" version="3.2785.1486" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2785.1486" targetFramework="net452" />
  <package id="CefSharp.Common" version="53.0.1" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="53.0.1" targetFramework="net452" />
  <package id="Microsoft.VC120.CRT.JetBrains" version="12.0.21005.2" targetFramework="net452" />
</packages>